# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

#ignore linkedin files/feat for error
src/lib/services/linkedin.ts
src/lib/api-linkedin-response.d.ts
