---
import Icon from '@components/icon.svelte'
import Link from '@components/link.svelte'
import RecentProjects from './recent-projects.astro'
import Card from '@components/card.astro'
import TextStroke from '@components/text-stroke.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import { more_used as MORE_USED } from '@lib/tech-tools.json'
import ContactMeLink from '@ui/contact-me-link.astro'
---

<section class="w-full h-full flex flex-col bg-[#D2B48C] py-24 px-2">
  <div class="w-auto h-full flex flex-col">
    <h1
      class="font-sans text-[#DCCCB2] font-black text-center uppercase order-2"
    >
      I'm Alan Valencia <span class="hidden">Frontend Developer</span>
    </h1>

    <Card title="Let’s connect" position="left">
      <div class="flex gap-3 justify-around items-center">
        {
          SOCIAL_MEDIA.map(({ to, icon }) => (
            <Link {to} target="_blank" textHoverColor="white">
              <Icon name={icon} size="2rem" />
            </Link>
          ))
        }
      </div>
    </Card>

    <TextStroke
      class="order-3 w-1/2 min-w-[240px] self-center -rotate-6 -mt-4"
    />

    <Card title="More used tech" position="right" class="order-4">
      <div class="flex gap-3 justify-around items-center">
        {MORE_USED.map(tech => <Icon name={tech} size="2rem" />)}
      </div>
    </Card>
  </div>

  <div class="flex flex-col justify-between items-start">
    <div class="w-1/4"></div>
    <div class="flex flex-col w-full">
      <h2 class="text-3xl font-serif font-bold">Recent Projects</h2>
      <RecentProjects />
      <div class="flex gap-2">
        <Link
          text="Download CV"
          to="/"
          textHoverColor="#D2B48C"
          responsive
          as="button"
        />
        <ContactMeLink />
      </div>
    </div>
  </div>

  <style>
    h1 {
      font-size: clamp(3.375rem, 0.15rem + 16.125vw, 19.5rem);
      line-height: 95%;
    }
  </style>
</section>
