---
import Icon from '@components/icon.svelte'
import Link from '@components/link.svelte'
import RecentProjects from './recent-projects.astro'
import Card from '@components/card.astro'
import TextStroke from '@components/text-stroke.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import { more_used as MORE_USED } from '@lib/tech-tools.json'
import ContactMeLink from '@ui/contact-me-link.astro'
---

<section
  class="w-full h-full bg-[#D2B48C] py-24 px-2 md:px-6 lg:px-10 lg:py-24 max-w-[1920px]"
>
  <div class="w-auto h-full flex flex-col">
    <h1
      class="font-sans text-[#DCCCB2] font-black text-center uppercase order-2"
    >
      I'm Alan Valencia <span class="hidden">Frontend Developer</span>
    </h1>

    <Card
      title="Let’s connect"
      position="left"
      class="order-1 sm:ml-16 sm:-mb-12 lg:ml-28 lg:-mb-16 xl:-mb-24 2xl:-mb-32"
    >
      <div class="flex gap-3 justify-around items-center">
        {
          SOCIAL_MEDIA.map(({ url, icon }) => (
            <Link to={url} target="_blank" textHoverColor="white">
              <Icon
                name={icon}
                size="2rem"
                class="md:w-10 md:h-10 2xl:w-16 2xl:h-16"
              />
            </Link>
          ))
        }
      </div>
    </Card>

    <Card
      title="More used tech"
      position="right"
      class="order-4 sm:mr-10 sm:-mt-40 sm:mb-14 sm:order-3 lg:-mt-52 lg:mb-24 xl:-mt-60 xl:mb-32 2xl:-mt-80 2xl:mb-40"
    >
      <div class="flex gap-3 justify-around items-center">
        {
          MORE_USED.map(tech => (
            <Icon
              name={tech}
              size="2rem"
              class="md:w-10 md:h-10 2xl:w-16 2xl:h-16"
            />
          ))
        }
      </div>
    </Card>
  </div>

  <div
    class="flex flex-col justify-center items-center gap-4 lg:justify-between lg:items-start lg:flex-row lg:gap-0"
  >
    <TextStroke
      class="w-4/5 min-w-[240px] max-w-4xl -rotate-6 z-[5] lg:order-2 lg:-mx-24 sm:-mt-8 2xl:gap-4"
    />

    <div class="flex flex-col gap-4 w-full lg:max-w-md">
      <h2 class="text-3xl font-serif font-bold">Recent Projects</h2>
      <RecentProjects />
    </div>

    <div
      class="flex gap-2 items-end order-3 flex-wrap-reverse self-start lg:justify-end"
    >
      <Link
        text="Download CV"
        to="/"
        textHoverColor="#D2B48C"
        responsive
        as="button"
      />
      <ContactMeLink responsive />
    </div>
  </div>

  <style>
    h1 {
      font-size: clamp(3.375rem, 0.15rem + 16.125vw, 19.5rem);
      line-height: 95%;
    }

    .bg-square {
      background-image: repeating-conic-gradient(
        #fefefe 0% 25%,
        transparent 0% 50%
      );
      background-position:
        0 0,
        32px 32px;
      background-size: 64px 64px;
      background-color: transparent;
    }
  </style>
</section>
