---
import Icon from '@components/icon.svelte'
import Link from '@components/link.svelte'
import RecentProjects from './recent-projects.astro'
import Card from '@components/card.astro'
import TextStroke from '@components/text-stroke.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import { more_used as MORE_USED } from '@lib/tech-tools.json'
import ContactMeLink from '@ui/contact-me-link.astro'
import Container from '@ui/container.svelte'
import DownloadResumeButton from '@ui/download-resume-button.astro'
---

<Container
  color="brown-500"
  class="pb-24 pt-4 px-2 from-brown-500 to-brown-500 md:px-6 lg:px-10"
>
  <article class="w-auto h-full flex flex-col">
    <h1
      class="font-sans text-brown-300 dark:text-brown-500 font-black text-center uppercase order-2 text-[clamp(3.375rem,0.15rem+16.125vw,19.5rem)] leading-[95%]"
    >
      I'm Alan Valencia <span class="hidden">Frontend Developer</span>
    </h1>

    <Card
      title="Let’s connect"
      position="left"
      class="order-1 sm:ml-16 sm:-mb-12 lg:ml-28 lg:-mb-16 xl:-mb-24 2xl:-mb-32"
    >
      <div class="flex gap-3 justify-around items-center">
        {
          SOCIAL_MEDIA.map(({ url, icon }) => (
            <Link
              to={url}
              target="_blank"
              class="hover:text-slate-100 dark:hover:text-black-500"
            >
              <Icon
                name={icon}
                size="2rem"
                class="md:w-10 md:h-10 2xl:w-16 2xl:h-16"
              />
            </Link>
          ))
        }
      </div>
    </Card>

    <Card
      title="More used tech"
      position="right"
      class="order-4 sm:mr-10 sm:-mt-40 sm:mb-14 sm:order-3 lg:-mt-52 lg:mb-24 xl:-mt-60 xl:mb-32 2xl:-mt-80 2xl:mb-40"
    >
      <div class="flex gap-3 justify-around items-center">
        {
          MORE_USED.map(tech => (
            <Icon
              name={tech}
              size="2rem"
              class="md:w-10 md:h-10 2xl:w-16 2xl:h-16"
            />
          ))
        }
      </div>
    </Card>
  </article>

  <article
    class="flex flex-col justify-center items-center gap-4 pt-2 lg:justify-between lg:items-start lg:flex-row lg:gap-0"
  >
    <article
      class="w-4/5 relative top-1/2 max-w-4xl z-[5] -rotate-12 lg:w-full lg:-mx-11 lg:-mt-10 lg:order-2 xl:-mx-6 2xl:gap-4"
    >
      <TextStroke />
    </article>

    <article class="flex flex-col gap-4 w-full lg:max-w-md">
      <h2 class="text-3xl font-serif font-bold">Recent Projects</h2>
      <RecentProjects />
    </article>

    <article
      class="flex gap-2 items-end order-3 flex-wrap-reverse self-start lg:justify-end min-w-max"
    >
      <DownloadResumeButton />

      <ContactMeLink
        className="px-12 hover:text-brown-500 dark:hover:bg-brown-500 active:text-brown-500 dark:active:bg-brown-500 md:text-xl"
      />
    </article>
  </article>
</Container>
