---
import Marquee from '@components/marquee.svelte'
import DetailedTitle from './detailed-title.svelte'
import Icon from '@components/icon.svelte'
import type { IconName } from '@lib/icons'
import { chunkArray } from '@utils/array'

const TECH_TOOLS: IconName[] = [
  'typescript',
  'html',
  'css',
  'javascript',
  'nodejs',
  'python',
  'react',
  'svelte',
  'git',
  'github',
  'adobe-ae',
  'adobe-illustrator',
  'aws',
  'figma',
  'firebase',
  'tailwindcss'
]

const techToolsChunks = chunkArray(TECH_TOOLS, Math.ceil(TECH_TOOLS.length / 2))
const [firstChunk, secondChunk] = techToolsChunks
---

<section class="flex flex-col py-16 gap-4">
  <DetailedTitle title="Tech and \nTools" class="!p-8 !text-blue-500" />

  <article class="flex flex-col gap-2">
    <Marquee bgColor="#141214" time="regular">
      {
        firstChunk.map(label => (
          <Icon class="!text-blue-500 !mx-4" name={label} size="3rem" />
        ))
      }
    </Marquee>
    <Marquee bgColor="#141214" time="regular" reverse>
      {
        secondChunk.map(label => (
          <Icon class="!text-blue-500 !mx-4" name={label} size="3rem" />
        ))
      }
    </Marquee>
  </article>
</section>
