---
import Layout from '@layouts/layout.astro'
import AboutMe from '@ui/home/about-me.astro'
import FavoritesProjects from '@ui/home/favorites-projects.astro'
import Hero from '@ui/home/hero.astro'
import TechsToolsSkills from '@ui/home/techs-tools-skills.astro'
---

<Layout title="Alan Valencia | Portfolio Fullstack Developer">
  <main>
    <Hero />
    <FavoritesProjects id="projects" />
    <AboutMe id="about" />
    <TechsToolsSkills id="tech-tool" />
  </main>
</Layout>
