---
interface Props {
  title: string
  position: 'left' | 'right'
  class?: string
}

const { class: classname, title, position } = Astro.props
---

<article
  class={`w-fit grid place-content-center gap-1 p-4 rounded-lg rotate-[-7.86deg]
  ${position === 'left' && 'bg-[#7FEA89] self-start -mb-4'} 
  ${position === 'right' && 'bg-[#DA8EE4] rotate-[5.66deg] self-end -mt-1'}
  ${classname}`}
>
  <h2
    class={`uppercase font-extrabold text-inherit text-xl 2xl:text-3xl
    ${position === 'left' && 'text-left'} 
    ${position === 'right' && 'text-right'}`}
  >
    {title}
  </h2>
  <slot />
</article>
