---
import ContactForm from '@components/contact-form.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import Link from '@components/link.svelte'
import { currentYear as year } from '@utils/date';
---

<footer class="p-8 text-2xl bg-blue-400 grid gap-16 md:py-16 md:px-14 lg:py-20 lg:grid-cols-2 lg:gap-32 xl:py-64 xl:text-3xl">
  <p class="font-medium">
    Te envío un fuerte abrazo y ¡espero con ansias el tuyo!, aqui....
  </p>

  <Link
    to="mailto:contacto@alanvalencia.me"
    class="font-semibold font-serif text-4xl !lowercase whitespace-pre-line"
  >
    {'contacto@\nalanvalencia.me'}
  </Link>

  <p class="font-medium">
    O aqui, se que esto va a ser el comienzo de algo increible
  </p>
  <ContactForm API_KEY={import.meta.env.WEB3FORMS_API_KEY} client:load />

  <p class="font-medium">Sigueme en</p>
  <article class="flex flex-col lg:flex-row justify-between">
    <ul>
      {
        SOCIAL_MEDIA.map(({ name, to }) => (
          <li class="font-serif font-bold">
            <Link {to} target="_blank" textHoverColor="white" text={name} />
          </li>
        ))
      }
    </ul>

    <div class="flex flex-col text-sm">
      <span class="opacity-80 w-24 h-6 lines"></span>
      <span>© {year} by Alan Valencia</span>
    </div>
  </article>
</footer>

<style>
  .lines {
    opacity: 0.8;
    background: repeating-linear-gradient(
      -45deg,
      currentColor,
      currentColor 2px,
      transparent 2px,
      transparent 6px
    );
  }
</style>
