---
import ContactForm from '@components/contact-form.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import Link from '@components/link.svelte'
---

<footer class="p-8 text-xl bg-blue-400 flex flex-col gap-16">
  <header class="flex flex-col gap-8">
    <p class="text-2xl font-medium">
      Te envío un fuerte abrazo y ¡espero con ansias el tuyo!, aqui....
    </p>

    <Link
      to="mailto:contacto@alanvalencia.me"
      class="font-semibold font-serif text-3xl !lowercase"
    >
      contacto@ alanvalencia.me
    </Link>
  </header>

  <main class="flex flex-col gap-8">
    <p>Esto va a ser el comienzo de algo increible</p>
    <ContactForm API_KEY={import.meta.env.WEB3FORMS_API_KEY} client:load />
  </main>

  <footer class="flex flex-col gap-6">
    <p class="text-lg">Sigueme en</p>
    <ul>
      {
        SOCIAL_MEDIA.map(({ name, to }) => (
          <li class="text-2xl font-serif font-bold">
            <Link {to} target="_blank" textHoverColor="white" text={name} />
          </li>
        ))
      }
    </ul>

    <article>
      <div class="opacity-80 w-24 h-6 lines"></div>
      <div class="flex justify-between items-center text-sm">
        <span>© 2023 by Alan Valencia</span>
        <span>Legal</span>
      </div>
    </article>
  </footer>
</footer>

<style>
  .lines {
    opacity: 0.8;
    background: repeating-linear-gradient(
      -45deg,
      currentColor,
      currentColor 2px,
      transparent 2px,
      transparent 6px
    );
  }
</style>
