---
import Menu from './menu.svelte'
import ToggleThemeMode from './toggle-theme-mode.svelte'
import ToggleLenguage from './toggle-language.svelte'
import { currentYear } from '@utils/date'
import links from '@lib/page-navigation-links.json'
import Link from './link.svelte'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<header
  data-navbar="close"
  class:list={[
    'sticky top-0 w-full z-40 pt-2 pb-1 overflow-hidden bg-brown-500 dark:bg-transparent animate-[navbar-colors_both_ease-in-out] [animation-timeline:scroll(root_block)] [animation-range:0_90px] data-[navbar=open]:max-md:h-screen data-[navbar=open]:max-md:pb-4 text-slate-100',
    className
  ]}
>
  <section
    class="w-full h-full max-w-screen-xxl flex flex-col justify-between content-center m-auto relative md:items-start md:flex-row px-4 py-4 md:px-6 lg:px-12"
  >
    <div
      class="absolute left-0 top-0 w-full h-full -z-20 animate-[opacity_both_ease-in-out] [animation-timeline:scroll(root_block)] [animation-range:0_90px] pointer-events-none backdrop-blur-md [-webkit-mask-image:linear-gradient(#000_55%,#000C_75%,#0000_100%)]"
    >
    </div>
    <div class="flex justify-between items-center text-white">
      <a href="/" class="z-20">
        <img src="favicon.svg" alt="logo" class="w-36" />
      </a>

      <div class="md:hidden">
        <Menu client:visible />
      </div>
    </div>

    <nav
      data-navbar="close"
      class="flex flex-col gap-4 justify-center items-center md:flex-row lg:gap-8 max-md:animate-fade data-[navbar=close]:max-md:hidden data-[navbar=close]:max-md:text-transparent"
    >
      {
        links.map(({ label, to }) => (
          <Link
            {to}
            text={label}
            class="font-serif text-5xl font-extrabold small-caps text-center md:text-3xl"
          />
        ))
      }
    </nav>

    <footer
      data-navbar="close"
      class="max-md:animate-fade data-[navbar=close]:max-md:hidden data-[navbar=close]:max-md:text-transparent"
    >
      <div class="flex justify-center items-center gap-2 pb-2">
        <ToggleThemeMode client:visible />
        <ToggleLenguage client:visible />
      </div>
      <p class="text-sm text-center py-2 md:hidden">
        ©{currentYear} by Alan Valencia.
      </p>
    </footer>
  </section>
</header>

<!-- <script>
    const $navbarElementsToToggle = document.querySelectorAll('[data-navbar="close"]')
    const $buttonNavbar = document.querySelector('button[data-navbar]')
    const $linksNavbar = document.querySelectorAll('nav a')

    const toogleNavbarState = () => {
      $navbarElementsToToggle.forEach((element) => {
        const { navbar } = (element as HTMLElement).dataset

        navbar === 'close'
          ? ((element as HTMLElement).dataset.navbar = 'open')
          : ((element as HTMLElement).dataset.navbar = 'close')
      })
    }

    $linksNavbar?.forEach(link => {
      link.addEventListener('click', toogleNavbarState)
    })

    $buttonNavbar?.addEventListener('click', toogleNavbarState)

</script> -->
