---
import Icon from '@components/icon.svelte'

const { currentLocale } = Astro
---

<a
  href={`${currentLocale === 'en' ? '/es' : '/'}`}
  class="flex gap-1 justify-center items-center h-max w-max"
>
  <Icon name="language" size="32" class="text-pink-500" />
  <span class="text-2xl font-bold uppercase">{currentLocale}</span>
</a>
