---
import Navbar from '@components/navbar.svelte'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full">
    <Navbar client:load />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #212121 #bebebe;
  }

  *::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  *::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }

  html {
    font-family: 'Poppins', system-ui, sans-serif;
    background: #141214;
    color: #0e1716;
  }

  .small-caps {
    font-variant-caps: small-caps;
  }
</style>
