---
import '@fontsource-variable/crimson-pro'
import '@fontsource-variable/archivo'

import Navbar from '@components/navbar.astro'
import Footer from '@components/footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!--
FIXME: fix the font jump
FIXME: fix the input focus animation
TODO: implemented the i118n feat to the project

TODO: Connect linkedin api for the aboutme
TODO: in aboutme section add an use the redsocials
TODO: implemented the experience and add info to aboutme section
TODO: implemented the certifications and add info to aboutme section
TODO: implemented the case studios pages integration and paths

TODO: Make validation of formulary letter the first focus change (no the user typing)
-->

<!doctype html>
<html lang="es" class="bg-black-400 font-sans">
  <head>
    <meta charset="UTF-8" />
    <title>{title ?? 'Alan Valencia'}</title>
    <meta
      name="description"
      content="Impulso la innovación como un apasionado full-stack developer. Desde la creación de interfaces de usuario cautivadoras hasta el diseño de arquitecturas robustas en el back-end, mi enfoque integral ofrece soluciones digitales excepcionales. Explora mi portafolio para descubrir cómo puedo llevar tu proyecto al siguiente nivel. ¡Convierte tus ideas en experiencias digitales impactantes con mi experiencia en desarrollo full-stack!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Add polyfill for animation-timeline (scroll-timeline and view-timeline) -->
    <script
      is:inline
      src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
    ></script>
  </head>
  <body
    class="w-full h-full flex content-center flex-col justify-center transition-colors text-black-400 dark:text-slate-100"
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer id="#contact" />
  </body>
</html>

<script>
  const updateTheme = () => {
    const theme = localStorage.getItem('theme') ?? ''

    if (theme === 'color' || theme === '') {
      document.documentElement.classList.remove('dark')
      return
    }
    document.documentElement.classList.add('dark')
  }

  document.addEventListener('DOMContentLoaded', updateTheme)
</script>

<style is:global>
  * {
    scrollbar-width: thin;
    scrollbar-color: #212121 #bebebe;
  }

  *::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    transition:
      width 0.5s,
      height 0.5s ease-in-out;
  }

  *::-webkit-scrollbar:hover {
    width: auto;
    height: auto;
  }

  *::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
  }

  *::-webkit-scrollbar-thumb:active {
    background: rgb(40, 40, 40);
  }

  .small-caps {
    font-variant-caps: small-caps;
  }
</style>
