---
import '@fontsource-variable/crimson-pro'
import '@fontsource-variable/archivo'

import Navbar from '@components/navbar.astro'
import Footer from '@components/footer.astro'
import { getI18N } from '../i18n/'

const i18n = getI18N(Astro.currentLocale)
---

<!--
FIXME: fix the font jump

TODO: implemented the case studios pages integration and paths
-->

<!doctype html>
<html lang="es" class="bg-black-400 font-sans">
  <head>
    <meta charset="UTF-8" />
    <title>{i18n.SEO_TITLE}</title>
    <meta
      name="description"
      content={i18n.SEO_DESCRIPTION}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Add polyfill for animation-timeline (scroll-timeline and view-timeline) -->
    <script
      is:inline
      src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
    ></script>
  </head>
  <body
    class="w-full h-full flex content-center flex-col justify-center transition-colors text-black-400 dark:text-slate-100"
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  const updateTheme = () => {
    const theme = localStorage.getItem('theme') ?? ''

    if (theme === 'color' || theme === '') {
      document.documentElement.classList.remove('dark')
      return
    }
    document.documentElement.classList.add('dark')
  }

  document.addEventListener('DOMContentLoaded', updateTheme)
</script>

<style is:global>
  * {
    scrollbar-width: thin;
    scrollbar-color: #212121 #bebebe;
  }

  *::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    transition:
      width 0.5s,
      height 0.5s ease-in-out;
  }

  *::-webkit-scrollbar:hover {
    width: auto;
    height: auto;
  }

  *::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
  }

  *::-webkit-scrollbar-thumb:active {
    background: rgb(40, 40, 40);
  }

  .small-caps {
    font-variant-caps: small-caps;
  }
</style>
